.Togglebutton{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}
.Togglebutton:focus{
  outline: none;
}

.Line{
  width: 30px;
  height: 2px;
  background: black
}


@media (min-width: 768px){
  .Togglebutton{
    display: none
  }
}